name: Lint Android
on:
  workflow_dispatch:
  pull_request:
    branches: [ develop, main ]
jobs:
  lint-android:
    name: Lint Android
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3

      - name: Setup Bundler
        run: |
          bundle config --local path ./vendor/bundle
          bundle config --local deployment true
          bundle install

      - name: Setup Config
        env:
          custom_config: ${{ secrets.SECRETS }}
        if: ${{ env.custom_config != '' }}
        run: |
          base64 -d <<< ${{ env.custom_config }} > custom.properties

      - name: Ensure config files exist
        run: |
          touch custom.properties

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Run Lint
        run: ./gradlew lint

      - uses: yutailang0119/action-android-lint@v3
        with:
          report-path: build/reports/*.xml
        continue-on-error: false
